.DS_Store
*.o
*.o.d
*.class
*.a
*~
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
Box2D/**/MinSizeRel/**
Box2D/**/RelWithDebInfo/**
Box2D/*.def
Box2D/*.h
Box2D/*.pc
Box2D/*.rc
Box2D/Box2D.xcodeproj/**
Box2D/Box2D/Makefile
Box2D/CMakeScripts/**
Box2D/HelloWorld/HelloWorld
Box2D/HelloWorld/HelloWorld.keystore
Box2D/HelloWorld/Makefile
Box2D/Makefile
Box2D/Testbed/Makefile
Box2D/Testbed/Testbed
Box2D/Testbed/Testbed.keystore
Box2D/Unittests/Callback/CallbackTests.keystore
Box2D/Unittests/CallbackTests
Box2D/Unittests/Confinement/ConfinementTests.keystore
Box2D/Unittests/ConfinementTests
Box2D/Unittests/Conservation/ConservationTests.keystore
Box2D/Unittests/ConservationTests
Box2D/Unittests/Function/FunctionTests.keystore
Box2D/Unittests/FunctionTests
Box2D/Unittests/HelloWorld/HelloWorldTests.keystore
Box2D/Unittests/HelloWorldTests
Box2D/Unittests/Makefile
Box2D/Win32/**
Box2D/build.log
Box2D/flags.cmake
Box2D/freeglut/**
Box2D/glui/Makefile
Box2D/googletest/**
Box2D/liquidfun.keystore
**/bin/**
**/gen/**
**/libs/**
**/obj/**
**/*.dir/**
**/CMakeFiles/**
**/cmake_install.cmake
**/CMakeCache.txt
**/Debug/**
**/Release/**
build.xml
local.properties
project.properties
proguard-project.txt
linklint_results
