*.o
*.o.d
*.class
*.a
*~
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
Box2D/*.def
Box2D/*.rc
Box2D/*.pc
Box2D/*.h
**/bin/**
**/gen/**
**/libs/**
**/obj/**
**/*.dir/**
**/CMakeFiles/**
**/cmake_install.cmake
**/CMakeCache.txt
**/Debug/**
**/Release/**
build.xml
local.properties
project.properties
proguard-project.txt
